/* header * { border: 1px red dashed; } */

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: lightskyblue;
  background-image: url("https://www.transparenttextures.com/patterns/connected.png");
  height: 450px;
  padding-top: 100px;
  /* width: 100%; */
  /* box-sizing: unset; */
}

/* header.profile > div {
  position: relative;
  text-align: center;
} */

.profile img {
  align-self: center;
}

.profile h1 {
  /* position: relative;*/
  margin: 0;
  align-self: center;
  font-weight: 700;
}

.profile span {
  font-weight: 300;
}