@media screen and (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }

  nav {
    background-color: #4056A1;
  }
}